ul { display:block; float:left; margin:1em; padding:1em; width:50%;}; 
li { border:1px solid silver; margin:1em; padding:1em; display:block; list-style:none; }; 
ul>li>a {display:block; float:left; with:140px; height:140px; };
